@charset "utf-8";

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
メイリオ,
Verdana,
"ＭＳ Ｐゴシック",
sans-serif;

// colors
$baseColor: #f9f8f6;
$subColor: #887f69;
$keyColor: #e2ddd4;
$gray_key: #b0b0b0;
$red: #9d1a2d;

/* Base
------------------------------------------------------------*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    background-color: $baseColor;
}

/* Layout
------------------------------------------------------------*/

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Header
------------------------------------------------------------*/

#header_in {
    margin-top: 40px;
}

.pc_menu {
    ul {
        text-align: right;
        li {
            display: inline-block;
            list-style: none;
            margin: 5px;
            margin-top: 20px;
        }
    }
}

.sp_menu {
    display: none;
    .sp_menu_body {
        display: none;
    }
}

#cover_area {
    margin-bottom: 50px;
}

#newitem_area {}

.sp_items {
    display: none;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    .item-box {
        width: calc( ( 100% - 4px) / 3);
        box-sizing: border-box;
        background-color: #ffffff;
        padding: 15px;
        margin-top: 2px;

        h2 {
            font-size: 12px;
        }

        p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}

#popular_area {
    margin-top: 30px;
}

#guide_area {
    margin-top: 30px;
}

.guide_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    .otodoke {
        padding-top: 10px;
    }


    .guide_box {
        width: calc( ( 100% - 4px) / 2);
        box-sizing: border-box;
        background-color: #ffffff;
        padding: 15px;

        h3 {
            color: $subColor;
            font-size: 15px;
            font-weight: bold;
            margin: 0px;
        }

        dl {
            margin: 0px;
        }

        dt {
            color: $subColor;
            font-size: 10px;
        }

        dt:before {
            content: "■";
            font-size: 15px;
        }
        dd {
            font-size: 10px;
            margin-left: auto;
        }
    }
}

#search_area {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 0;
    .itemlogo {
        padding-bottom: 5px;
    }
}

#icon_search {
    background-color: #eee;
    background-image: url(../images/top/search_icon.png);
    background-position: 95% center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
}

.sidebar_areatitle {
    background-color: $subColor;
    padding: 10px 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .areatitle {
        display: block;
    }
}

#cate_area {
    ul {
        margin-bottom: 10px;
    }
    li {
        background-color: #ffffff;
        list-style: none;
        padding: 15px 20px;
        margin: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about_area {
    background-color: #ffffff;
    margin-bottom: 10px;
    .subtitle {
        background-color: $subColor;
        padding: 10px 20px;
    }
    .image_area {
        padding: 10px;
        p {
            font-size: 10px;
        }
    }
    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
}

// footer
.pagetop {
    margin-top: 60px;
    text-align: right;
}

.footer_navi {
    margin-bottom: 30px;
    text-align: center;
    border-top: 1px solid $subColor;
    &.li {
        display: flex;
        justify-content: center;
        width: 70%;
        margin: 30px auto 0;
        list-style: none;
        border-top: none;

        li {
            margin-right: 20px;
            margin-bottom: 0;

            &+li::before {
                content: '・';
                display: inline-block;
                margin-right: 20px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.copy {
    text-align: center;
    color: $gray_key;
}

@media (max-width: 550px) {
    #header_in {
        text-align: center;
    }

    #cover_area {
        margin-bottom: 30px;
    }

    .sp_items {
        text-align: center;
        display: block;
    }

    .newitem_text {
        display: none;
    }

    .item_list {
        margin-top: 15px;
        .item-box {
            width: calc( ( 100% - 2px) / 2);
        }
    }

    #popular_area {
        margin-top: 15px;
    }

    #guide_area {
        margin-top: 15px;
    }


    .guide_list {
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 15px;
        .guide_box {
            width: 100%;
            margin-bottom: 2px;
            padding: 20px 0 20px 20px;
            dd {
                font-size: 12px;
            }
            dt {
                font-size: 12px;
            }
            dt:before {
                content: "■";
                font-size: 20px;
            }
        }
    }

    #icon_search {
        margin-bottom: 0px;
    }

    .sidebar_areatitle {
        margin-top: 15px;
    }

    .itemlogo {
        display: none;
    }

    #cate_area ul {
        margin-bottom: 10px;
    }

    .about_area {
        margin-top: 10px;
        margin-bottom: 0;
        .image_area {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &>img {
                display: block;
                width: 48%;
            }
            .about_text {
                width: 48%;
            }
            p {
                font-size: 15px;
            }
            .btn {
                margin-left: 0;
            }
        }
    }

    .pagetop {
        margin: 20px 0;
        text-align: center;
    }
    .footer_navi.li {
        flex-direction: column;
        li {
            margin-right: 0;

            &+li::before {
                display: none;
            }
        }
    }

    .sp_menu_base {
        display: flex;
        width: 80px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .sp_menu li {
        list-style: none;
    }
    .sp_menu {
        display: block;
    }
    .pc_menu {
        display: none;
    }
    .sp_display {
        display: block;
    }
    .pc_display {
        display: none;
    }

}

.sp_display {
    display: none;
}

.pc_display {
    display: block;
}

.home_area {
    background-color: $keyColor;
    border-radius: 4px;
    padding: 10px;
    color: $subColor;
    ul {
        margin-bottom: 0;
        display: flex;
        li {
            list-style: none;
            margin-bottom: 0;
            &+li::before {
                content: '/';
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}

#list_cover {
    margin-top: 10px;
    margin-bottom: 0;
}

.cate {
    width: 100%;
}

.space {
    margin-top: 0;
}

.next_back {
    margin-top: 20px;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    li {
        background-color: $subColor;
        color: $baseColor;
        padding: 15px 40px;
        font-weight: bold;
    }
}

.topimage {
    display: flex;
    border-bottom: 1px solid $keyColor;
    padding-bottom: 20px;
}

#maining {
    flex: 5 5 40px;
    line-height: 0;
    #subimage {
        width: 100%;
    }
}

#sub_area {
    flex: 2 2 10px;
    margin-left: 10px;
    ul {
        padding-left: 0;
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: calc( ( 100% - 10px) / 2);
            list-style: none;
            box-sizing: border-box;
            margin-bottom: 0;
            line-height: 0;
            cursor: pointer;
            &:nth-child(n+3) {
                margin-top: 10px;
            }
        }
    }
}

.products_area {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 0 60px 80px;
}

.products_name {
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-top: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid $keyColor;
        li {
            margin-bottom: 0;
        }
        .pdn {
            font-weight: bold;
        }
        .symbol {
            font-size: 12px;
            color: $gray_key;
        }
    }
}

.title_color {
    padding-top: 20px;
}

.size_sheet {
    border: 1px solid $keyColor;
    margin-top: 20px;
}

.type1 {
    border: 1px solid $keyColor;
    th {
        border: 1px solid $keyColor;
        background-color: $baseColor;
        width: 160px;

    }
    td {
        border: 1px solid $keyColor;
        background-color: $baseColor;
        color: $subColor;
        width: 200px;
        text-align: center;
        padding: 12px 15px;
        font-size: 12px;
    }
}

.type2 {
    th {
        border: 1px solid $keyColor;
        background-color: $baseColor;
        text-align: center;
        color: $subColor;
        font-weight: normal;
        font-size: 12px;
    }
    td {
        border: 1px solid $keyColor;
        text-align: center;
        color: $subColor;
        padding: 12px 15px;
        input {
            margin-bottom: 0;
        }
    }
}

.price_area {
    display: flex;
    .price_quantity {
        flex: 1;
        .price {
            border-top: solid 1px $keyColor;
            border-bottom: solid 1px $keyColor;
            height: 70px;
            display: flex;
            align-items: center;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-bottom: 0;
                width: 100%;
                li {
                    margin-bottom: 0;
                    &.price_img {
                        display: flex;
                        align-items: center;
                        width: 110px;
                    }
                    &.partition {
                        font-style: oblique;
                        flex: 1;
                        span {
                            color: #e80f66;
                            span {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
        .quantity {
            border-bottom: solid 1px $keyColor;
            height: 70px;
            display: flex;
            align-items: center;
            input {
                margin-left: 50px;
                margin-bottom: 0;
                border-radius: 0;
                border-color: $keyColor;
                width: 155px;
            }
        }
    }
    .addtocart {
        width: 225px;
        margin-left: 20px;
    }
}

#description {
    margin-top: 40px;
    border-bottom: 1px solid;
    h4 {
        font-size: 15px;
        color: $subColor;
    }
}

.title_product {
    margin-top: 15px;
    h5 {
        font-size: 15px;
        color: $subColor;
    }
    h5:before {
        content: '■';
        font-size: 30px;
    }
}

.type3 {
    th {
        border: 1px solid $keyColor;
        background-color: $baseColor;
        color: $subColor;
        width: 160px;
        text-align: center;
        font-size: 12px;
        padding-left: 15px;
        font-weight: normal;
    }
    td {
        border: 1px solid $keyColor;
        color: $subColor;
        width: 420px;
        font-size: 12px;
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .container.products {
        padding: 0;
        .sub_container {
            padding: 0 10px;
        }
    }
    .home_area {
        margin: 5px 10px 15px;
    }
    .products_area {
        margin-top: 0;
        padding: 20px 10px 25px;
        .products_name {
            ul {
                display: block;
                padding-top: 0;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
        .topimage {
            flex-direction: column;
            #maining {
                margin-bottom: 5px;
            }
            #sub_area {
                margin-left: 0;
                ul {
                    margin-bottom: 0;
                    li {
                        width: calc( ( 100% - 20px) / 5);
                        &:nth-child(n+3) {
                            margin-top: 0;
                        }
                        &:nth-child(n+6) {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }

        .price_area {
            display: block;

            .addtocart {
                margin: 15px auto 0;
            }
        }

        .color_sheet {
            margin-bottom: 0;
        }
        .type3 {
            th {
                padding: 10px;
                text-align: center;
                font-size: 15px;
            }
            td {
                padding: 15px;
                font-size: 15px;
                text-align: justify
            }
        }
    }

}

.owl-theme {
    .owl-dots {
        text-align: left;
        .owl-dot {
            span {
                width: 30px;
                height: 3px;
            }
            &.active {
                span {
                    background-color: $red;
                }
            }
        }
    }
}
